/* Fő háttérszín */
body {
    background-color: #202e39;
}

/* Betűszín */
body,
.navbar {
    color: #ffffff;
}

/* Menü háttérszín */
.navbar {
    background-color: transparent;
}

/* Menü betűszín */
.navbar a {
    color: #202e39;
}

/* Gombok */
.btn {
    background-color: #e2007a;
    color: #ffffff;
}
